<div class="about">
    <div class="theme">
        <h1>Why u need us ?</h1>
    </div>
    <div class="definition">
        We are transport's services for professional and particular ...
    </div>
    <div class="cards">
        <div class="item">
            <img src="../../assets/images/carte.png" alt="">
            blabla baobxziphxpnx^soanxdo^qcndqvopndqvnùnv ncpidqnvnvpnvnvpdpnpodnvnqvq*vnvqcvùinvcn
        </div>
        <div class="item bas">
            <img src="../../assets/images/monitoring.png" alt="">
            blabla oibcobqdcbidcnpncùdnqnvcpqnùnvnpfnvnzfvprnpncouefbfvoibvqbqùvfns!nvsf  feinvivnfsiov
        </div>
        <div class="item">
            <img src="../../assets/images/objectif.png" alt="">
            blabla iozrvoibqsvb fv iefv oe e uq isq ibovbeobv efuvb eoubvobcbf sbfsc ocbzuo uefs uzov fzizdbd 
        </div>
    </div>
</div>