.forces{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
    padding: 10px;
    >h2{
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}
.items {
    padding: 30px;
    column-count: 2; /* Divise les éléments en deux colonnes */
    column-gap: 20px; /* Espacement entre les colonnes */
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacement entre les éléments */
}

.item mat-icon {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}