<div class="forces">
    <h2> Pourquoi nous faire confiances ?</h2>
    <div class="items">
        <div class="item">
            <mat-icon>check_box</mat-icon> Service client 7j/7
        </div>
        <div class="item right">
            <mat-icon>check_box</mat-icon> Devis en ligne
        </div>
        <div class="item">
            <mat-icon>check_box</mat-icon> Traçabilité des échanges
        </div>
        <div class="item right">
            <mat-icon>check_box</mat-icon> Service client 7j/7
        </div>
        <div class="item">
            <mat-icon>check_box</mat-icon> Service client 7j/7
        </div>
        <div class="item right">
            <mat-icon>check_box</mat-icon> Service client 7j/7
        </div>
    </div>
</div>
