<div class="ex">
    <h2>Nos interfaces ont été principalement conçu pour être user friendly</h2>
    <div class="card left">
        <div class="text">
            notre map vous permettra de vous repérer facilement grace aux indicateurs visuels et explicites
        </div>
        <div class="image">
            <img src="../../assets/images/gps.png" alt="">
        </div>
    </div>
    <div class="card right">
        <div class="text">
            Avec notre dashboard vous aurez accès à toutes les informations qu'il vous faudra pour suivre vos frais et bénéfices
        </div>
        <div class="image">
            <img src="../../assets/images/dashboard.png" alt="">
        </div>
    </div>
</div>
