<div class="init">
    <div class="head">
        <div class="logo">
            <mat-icon> directions_bus</mat-icon>Twendeno
        </div>
    </div>
    <div class="presentation">
        <div class="acceuil">
            <h1>Looking for a bus ?</h1>
        </div>
        <div class="action">
            If you want ..
        </div>
        <div class="map">
            get the map 
        </div>
    </div>
</div>
<app-about></app-about>
<app-newsletter></app-newsletter>
<app-exemples></app-exemples>
<app-forces></app-forces>
<app-contact></app-contact>
<app-footer></app-footer>